/* Estilos gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex-grow: 1;
  }
  
  #header.scroll {
    background-color: #f5f5f5;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Rodapé */
  footer {
    background-color: #f4f4f4;
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  
/* Cabeçalho */
header {
    background-color: #f4f4f4;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  header .logo {
    margin-right: auto;
  }
  
  header .logo img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  
  main {
    padding: 20px;
    padding-top: 80px;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }
  
  /* Estilos para a seção Sobre Nós */
  #sobre-nos {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
  }
  
  #sobre-nos .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #sobre-nos .logo img {
    width: 200px;
    height: auto;
    border-radius: 5px;
  }
  
  #sobre-nos .content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  #sobre-nos h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  #sobre-nos p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Estilos para a seção Escritório */
  #escritorio {
    padding: 40px 0;
    text-align: center;
  }
  
  #escritorio h2 {
    color: #333;
    margin-bottom: 30px;
  }
  
  #office-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  #office-gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  /* Estilos para a seção Áreas de Atuação */
  #areas-atuacao {
    padding: 40px 0;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  #areas-atuacao h2 {
    color: #333;
    margin-bottom: 30px;
  }
  
  .area-card {
    display: inline-block;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
  }
  
  .area-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .area-card h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .area-card p {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  /* Estilos para a seção Agendar Consulta */
  #agendar-consulta {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
  }
  
  #appointment-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #appointment-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  #appointment-form .form-group {
    margin-bottom: 20px;
  }
  
  #appointment-form label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
  }
  
  #appointment-form input[type="date"],
  #appointment-form select {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
  }
  
  #appointment-form input[type="date"]::placeholder,
  #appointment-form select::placeholder {
    color: #999;
  }
  
  #appointment-form input[type="date"]:focus,
  #appointment-form select:focus {
    outline: none;
    border-color: #333;
  }
  
  #appointment-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  #appointment-form button:hover {
    background-color: #222;
  }
  
  @media screen and (max-width: 500px) {
    #appointment-form {
      max-width: 100%;
    }
  }
  